<div class="demo-gestures">
    <div (drag)="onDrag( $event )"
         (dragstart)="onDragStart( $event )"
         (dragend)="onDragEnd( $event )"
         (dragleft)="onDragLeft( $event )"
         (dragright)="onDragRight( $event )"
         (pan)="onPan( $event )"
         (press)="onPress( $event )"
         (longpress)="onLongPress( $event )"
         (swipe)="onSwipe( $event )"
         (swipeup)="onSwipeUp( $event )"
         (swipedown)="onSwipeDown( $event )"
         (swipeleft)="onSwipeLeft( $event )"
         (swiperight)="onSwipeRight( $event )" >
        Drag(up/down/left/right), swipe, or press me.
    </div>
    <p>Drag: {{dragCount}}</p>
    <p>DragStart: {{dragStartCount}}, DragEnd: {{dragEndCount}}</p>
    <p>DragLeft: {{dragLeftCount}}, DragRight: {{dragRightCount}}</p>
    <p>Pan: {{panCount}}</p>
    <p>Press: {{pressCount}}, Longpress: {{longPressCount}}</p>
    <!-- http://hammerjs.github.io/recognizer-swipe/ -->
    <p>Swipe: {{swipeCount}}</p>
    <p>SwipeUp: {{swipeUpCount}}, SwipeDown: {{swipeDownCount}}</p>
    <p>SwipeLeft: {{swipeLeftCount}}, SwipeRight: {{swipeRightCount}}</p>
    <p></p>
</div>