<b>{{title}}</b>
<div>
  <ul *ngFor="let w of words | async" >
    <li class="text">
      {{w.$key}}: {{w.pronun}}, {{w.parts.noun}}
      <button (click)="convert(w.$key)">Convert</button>
    </li>
  </ul>
</div>

<disp-mword [mWord] = word
  (add)="add($event)"
  (update)="update($event)"
  (delete)="delete($event)">
</disp-mword>
<find-mword
  (find)="findWord($event)">
</find-mword>

<div class="diagnostic">
  {{diagGetMword}}
  {{diagSendMword}}
</div>

<div>
  <br>
  <b>To Do List</b><br>
  -Find a word<br>
  -md-card<br>
  -사전: CURD
</div>