<b>{{title}}</b>
<div class="mdicscrollbar" id="style-6">
  <!-- <div class="force-overflow"></div> -->
  <ul *ngFor="let w of mWords | async" >
    <li class="text">
      {{w.$key}}: {{w.pronun}}
      <button (click)="convert(w.$key)">Convert</button>
    </li>
  </ul>
</div>

<!-- dispMode값이 변경되지 않으면, ngChange() Trigger되지 않음(?Bug)
     동일한 값으로 Write한 경우에는 Trigger되는게 맞을 듯
-->
<disp-mword class="mword" [mWord]=mWord [dispMode]=dispMode
  (add)="add($event)"
  (update)="update($event)"
  (delete)="delete($event)">
</disp-mword>

<find-mword
  (find)="findWord($event)">
</find-mword>

<!--
<div class="diagnostic">
  {{diagMode}}<br>
  {{diagGetMword}}<br>
  {{diagSendMword}}
</div>
-->