.login {
}

md-input {
  width: 100%;
  margin-right: 10px;
}

md-input.email:focus {
  width: 100%;
  margin-right: 10px;
  /* background-color: red; */
}

md-input.pass {
  width: 100%;
  margin-right: 10px;
}