<b>
  {{title}}
</b>
<!-- (?.): Safe Navigation Operator
  http://www.bennadel.com/blog/3043-providing-default-values-for-the-safe-navigation-operator-in-angular-2-beta-8.htm
-->
<div>Auth.uid: {{ (af.auth | async)?.uid }} </div>
<div>
  <div>
    <md-input #email (keyup.enter)="getEmail(email.value)"
                  (blur)="getEmail(email.value); newHero.value=''" placeholder="email">
    </md-input>
  </div>
  <div>
    <md-input #pass (keyup.enter)="getPass(pass.value)" placeholder="pass"></md-input>
  </div>
  <button class="login" (click)="emailLogin()"><b>Login</b></button>
  {{eMail}}/{{passWord}}
</div>
<div>
  <button (click)="anoLogin()">Guest</button>
  <!--<button (click)="emailLogin()">Login Email</button>-->
  <button (click)="twittLogin()">Twitter</button>
  <button (click)="fbLogin()">Facebook</button>
  <button (click)="googleLogin()">Google</button>
</div>