<b>
  {{title}}
</b>
<!-- (?.): Safe Navigation Operator(Elvis Operator)
  -http://www.bennadel.com/blog/3043-providing-default-values-for-the-safe-navigation-operator-in-angular-2-beta-8.htm
  -https://github.com/angular/angularfire2/issues/290
  -http://stackoverflow.com/questions/31490713/iterate-over-typescript-dictionary-in-angular-2/34074484#34074484
  -** https://webcake.co/object-properties-in-angular-2s-ngfor/

-->
<div>Auth.UserId: {{getUserId}}/{{getEmailVerified}}</div>
<md-card class=“login-card”>
  <img (click)="goMglish()" md-card-image src="images/mglish_logo.png" />
  <md-card-content>
    <md-card-title>Login</md-card-title>
  </md-card-content>
  <form #loginForm="ngForm" (submit)="loginSubmit()">
      <md-input class="email"
                #email required
                type="email" name="email"
                placeholder="Email"
                [(ngModel)]="user.email">
      </md-input>
      <md-input class="password"
                #password required
                type="password" name="password"
                placeholder="Password"
                [(ngModel)]="user.password">
      </md-input>
      <button type="submit" md-raised-button color="primary">
        <md-icon class="md-24" svgSrc="/images/auth_service_email.svg" ></md-icon>Login
      </button>
      <button class="login" md-raised-button color="" (click)="createUser()">New User</button>
      <button class="login" md-raised-button color="" (click)="sendPasswordResetEmail()">Forgot Password</button>
      <!-- SNS Login -->
      <div class="sns-login">
        <button md-raised-button color="primary" (click)="loginTwitter()" >
          <md-icon class="md-24" svgSrc="/images/auth_service_twitter.svg" ></md-icon>Twitter
        </button>
        <button md-raised-button color="primary" (click)="loginFaceBook()" >
          <md-icon class="md-24" svgSrc="/images/auth_service_facebook.svg" ></md-icon>Facebook
        </button>
        <button md-raised-button color="primary" (click)="loginGoogle()">
          <md-icon class="md-24" svgSrc="/images/auth_service_google.svg" ></md-icon>Google
        </button>
      </div>
      <!-- Kakao Login -->
      <a id="kakao-login-btn"></a>
      <a href="http://alpha-developers.kakao.com/logout"></a>
      <!-- <button md-raised-button color="primary" (click)="updateEmail()">Kakao</button> -->
  </form>
</md-card>

<!-- Misc Login Function -->
<md-card class=“profile-card”>
    <md-card-content>
      <md-card-title>Profile</md-card-title>
    </md-card-content>
    <button md-raised-button color="primary" (click)="updateEmail()">Update Email</button>
    <button md-raised-button color="primary" (click)="updatePassword()">Update Passward</button>
    <button md-raised-button color="primary" (click)="updateProfile()">Update Profile</button>
</md-card>

<md-card >
  <div class="misc-card">
    <button md-raised-button color="primary" (click)="loginGuest()">Guest</button>
    <button md-raised-button color="primary" (click)="logoutUser()"><b>Logout</b></button>
    <button md-raised-button color="primary" (click)="delReAuthenticate()">Delete</button>
    <button md-raised-button color="primary" (click)="sendMailNotification()">Mail Noti</button>
    <!--<button md-raised-button color="primary" (click)="loginCustom()">Custom</button>-->
  </div>
</md-card>
