md-card {
    margin: 10px;
}

md-card img {
    display: block;
    height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

md-card-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    text-align: left;
    color: #ff9900;
}

.sns-login {
  display: flex;
  margin-top: 30px;
}

md-card form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
}

md-icon {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 5px;
  height: 16px;
  width: 16px;
}

:host(.hidden) {
    display: block;
}

md-input {
  width: 100%;
  margin-right: 10px;
}

md-input.email:focus {
  width: 100%;
  margin-right: 10px;
  /* background-color: red; */
}

md-input.password {
  width: 100%;
  margin-right: 10px;
}

.profile-card button {
  display: inline-flex;
  margin-bottom: 10px;
  margin-right: 10px;
}

.misc-card button {
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 10px;
}