.mdisp b {
  display: block;
}

.mdisp b {
  display: flex;
}

.mdisp span {
  color: red;
}

.mitem label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.mitem input {
  display: inline-block;
  margin-left:3px;
}
