.mdisp b {
  display: block;
}

.mdisp b {
  display: flex;
}

.mdisp span {
  color: red;
}

.mitem label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.mitem input {
  display: inline-block;
  margin-left:3px;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.action button {
  display: inline-block;
  width: 15%;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 5px;
}