<div [ngSwitch]="dispMode" class="dispmode" >
  <div *ngSwitchCase="DISPMODE.NONE">
    <div class="mdisp">
      <div class="mitem" >
        <label>word:</label> {{(mWord | async)?.$key}}
      </div>
      <div class="mitem" >
        <label>part:</label> {{(mWord | async)?.part}}
      </div>
      <div class="mitem" >
        <label>pronun:</label> {{(mWord | async)?.pronun}}
      </div>
      <div class="mitem" >
        <label>mss:</label> {{(mWord | async)?.mss}}
      </div>
      <div class="mitem" >
        <label>wss:</label> {{(mWord | async)?.wss}}
      </div>
      <div class="mitem" >
        <label>timestamp:</label> {{(mWord | async)?.timestamp}}
      </div>
      <div class="mitem" >
        <label>disp:</label> <span>{{(mWord | async)?.word}}</span>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="DISPMODE.NEW">
    <div class="mdisp">
      <div class="mitem" >
        <label>word:</label>
        <!-- <input type="text" #part (keyup.enter)="onNext($event, newMword.part = part.value)" -->
        <!-- class="form-control" Bootstrap -->
        <input type="text" placeholder="Word is required" required
            [(ngModel)]="newMword.word" name="word" #word="ngModel" #spy />
       <!--
        <div [hidden]="word.valid || word.pristine" class="alert alert-danger">
          Word is required
       </div>
       -->
      </div>
      <div class="mitem" >
        <label>part:</label>
        <input type="text"  placeholder="Part is required" required
            [(ngModel)]="newMword.part"  name="part" #part="ngModel" #spy  />
      </div>
      <div class="mitem" >
        <label>pronun:</label>
        <input type="text" placeholder="Pronun is required" required
            [(ngModel)]="newMword.pronun" name="pronun" #pronun="ngModel" #spy />
      </div>
      <div class="mitem" >
        <label>mss:</label>
      </div>
      <div class="mitem" >
        <label>wss:</label>
      </div>
      <div class="mitem" >
        <label>timestamp:</label> {{(mWord | async)?.timestamp}}
      </div>
      <div class="mitem" >
        <label>disp:</label>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="DISPMODE.EDIT">
    <div class="mdisp">
      <div class="mitem" >
        <label>word:</label> {{(mWord | async)?.$key}}
      </div>
      <div class="mitem" >
        <label>part:</label>
        <select  required
          [(ngModel)]="newMword.part" name="part" #part (ngModelChange)="onChange(part.value)" > <!--BUG: #part="ngModel" -->
          <option *ngFor="let p of partsKey" [value]="p">{{p}}</option>
        </select>
        <!--
        <input type="text"  placeholder="Part is required" required
            [(ngModel)]="newMword.part"  name="part" #part="ngModel" #spy  />
        -->
      </div>
      <div class="mitem" >
        <label>pronun:</label>
        <input type="text" placeholder="Pronun is required" required
            [(ngModel)]="newMword.pronun" name="pronun" #pronun="ngModel" #spy />
      </div>
      <div class="mitem" >
        <label>mss:</label>{{(mWord | async)?.mss}}
      </div>
      <div class="mitem" >
        <label>wss:</label>{{(mWord | async)?.wss}}
      </div>
      <div class="mitem" >
        <label>disp:</label>
      </div>
      <div class="mitem" >
        <label>timestamp:</label>{{(mWord | async)?.timestamp}}
      </div>
    </div>
  </div>
</div>

<div class="action">
  <button (click)="onNew()">New</button>
  <button (click)="onEdit()">Edit</button>
  <button (click)="onSave()">Save</button>
  <button (click)="onDelete()">Delete</button>
  <button (click)="onReset()">Reset</button>
</div>

<!--
{{diagMode}} {{INDEX}}<br>
{{diagNewMword}}
-->