<div>
  <nav class="route">
    <a [routerLink]="['Root']">Home</a>
    <a [routerLink]="['Fire2']">Fire2</a>
    <a [routerLink]="['Fire2Offline']">Fire2Offline</a>
    <a [routerLink]="['Fire2Storage']">Fire2Storage</a>
    <a [routerLink]="['Observabe']">Observable</a>
    <a [routerLink]="['ObsComments']">Comments</a>
    <a [routerLink]="['WikiSearch']">WiKi Search</a>
    <a [routerLink]="['MdGestures']">MD Gestures</a>
    <a [routerLink]="['BasicForms']">Basic Forms</a>
    <a [routerLink]="['ModelForm']">Model Form</a>
    <a [routerLink]="['TemplateForm']">Template Form</a>
    <a [routerLink]="['CustomForm']">Custom Form</a>
    <a [routerLink]="['ContentProjection']">Content Projection</a>
    <a [routerLink]="['WordList']">Word List</a>
    <a [routerLink]="['GetMword']">Get Mword</a>
    <a [routerLink]="['ExtLib']">Ext Lib</a>
    <a [routerLink]="['Login']">Login</a>
  </nav>

  <router-outlet ></router-outlet>
</div>