<b>
  {{title}}
</b>

<div>

  <a href='http://slides.com/robwormald/everything-is-a-stream#/68l'>
    <p> Everything is a stream(Observerable) </p>
  </a>

  <a href='http://blog.thoughtram.io/angular/2016/05/16/exploring-rx-operators-map.html'>
    <p> Observerable: Operator: Map </p>
  </a>

  <a href='http://stackoverflow.com/questions/11922383/access-process-nested-objects-arrays-or-jsonl'>
    <p>Access/Process (nested) objects, array or JSON</p>
  </a>

  <a href='http://stackoverflow.com/questions/30089879/typescript-and-dot-notation-access-to-objects'>
    <p>TypeScript and dot-notation access to objects</p>
  </a>
</div>

<div>
    <b>Observable from Event</b>
    <input type="text" id="demo" placeholder="key in"/>
    <br>

    <b>WiKi Search: Raw Event</b>
    <input #term2 type="text" (keyup)="rawSearch(term2.value)" placeholder="Search key in"/>

    <b>WiKi Search: Promise Event</b>
    <input #term3 type="text" (keyup)="promiseSearch(term3.value)" placeholder="Promise key in"/>

    <b>WiKi Search 1: Observable</b>
    <input type="text" [ngFormControl]="term" placeholder="Obs1 Search key in"/>

    <b>WiKi Search 2: Observable</b>
    <input type="text" [ngFormControl]="term" placeholder="Obs2 Search key in"/>
</div>

<!-- UI for rawSearch/ObsSearch -->
<br>
<div>
  <b> Raw Items</b>
  <ul>
    <li *ngFor="let item of wikiRawItems">{{item}}</li>
  </ul>
</div>

<div>
  <b> Obs Items</b>
  <ul>
    <li *ngFor="let item of wikiObsItems | async">{{item}}</li>
  </ul>
</div>
