<b>{{title}}</b>
<div>
  <b>Firebase: Object List Items</b>
  <ul *ngFor="let item of items | async" >
    <li class="text">
      Key: {{item.$key}}, Name: {{item.name}}, Size: {{item.size}}
      <button (click)="updateItem(item.$key, newname.value, newsize.value )">Update Item(Key,Name,Size) with Key</button>
    </li>
  </ul>
</div>

<!-- m.Dic: words.word -->
<div>
  <b>Firebase: Object Item</b>
  <p> {{ item | async | json }} </p>
</div>

<div>
  <b>Firebase: CURD</b>
  <br>
  <input type="text" #newkey placeholder="Key" />
  <input type="text" #newname placeholder="Name" />
  <input type="text" #newsize placeholder="Size" />
  <br>Item:
  <button (click)="set(newkey.value, newname.value, newsize.value)">Set Item(Key,Name,Size)</button>
  <button (click)="update(newname.value, newsize.value)">Update Item(Name,Size)</button>
  <button (ceick)="delete()">Delete</button>
  <br>Items:
  <button (click)="push(newname.value, newsize.value)">Push Name</button>
  <!--<button (click)="updateItem(newsize.value, item.$key)">Update Item Size</button>-->
</div>

<div>
  <b>Rx:Subject: Filter by size</b>
  <br>
  <button (click)="filterBy('small')">Small</button>
  <button (click)="filterBy('medium')">Medium</button>
  <button (click)="filterBy('large')">Large</button>
</div>

<div>
  <b>m.Dic JSON Format</b>
</div>
